@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
/* top-main */
/* ---------- common ---------- */
* {
  box-sizing: border-box;
  font-family: "Poppins";
  margin: 0;
  background-color: black;
  color: #fff;
}

.window {
  padding: 80px 20px 0px 20px;
}

ul {
  list-style: none;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}
.header__logo__subtitle {
  text-transform: uppercase;
  color: #cd2d2d;
}

/* ---------- header ---------- PC */
.header {
  display: flex;
  justify-content: space-around;
  line-height: 80px;
  align-items: center;
}
.header__logo {
  text-decoration: none;
}
.header__logo__subtitle {
  font-size: 2rem;
  text-transform: uppercase;
}
.header__genre__accordion {
  display: none;
}
.header__genre__list {
  display: flex;
  padding: 0;
}
.header__item {
  line-height: 80px;
  margin-right: 20px;
}
.header__item__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.639);
  transition: 0.2s;
}
.header__item__link.active {
  color: #fff;
}
.header__item__link.active:visited {
  color: #fff;
}
.header__item__link.active:hover {
  color: #fff;
}
.header__item__link:hover {
  color: rgba(189, 188, 188, 0.639);
}
.header__search {
  width: 270px;
  height: 30px;
  border: solid 1px #fff;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}
.header__search__input {
  width: 100%;
  border: none;
  border-radius: 50px;
  outline: none;
}
.header__search__button {
  border: none;
  border-radius: 50px;
}
.header__search__button__img {
  height: 100%;
  padding: 3px;
  margin-right: 10px;
}
.header__search__button:active {
  transform: scale(0.9);
}
.header__search__button:hover {
  cursor: pointer;
}

/* ---------- header ---------- tablet */
@media only screen and (max-width: 1023px) {
  .header {
    position: relative;
    display: flex;
  }
  .header__genre {
    position: relative;
  }
  .header__genre__accordion {
    display: flex;
    align-items: center;
  }
  .header__genre__accordion__button {
    height: 20px;
    border: none;
    margin-left: 5px;
  }
  .header__genre__accordion__button__img {
    height: 100%;
  }
  .header__genre__accordion__button:active {
    transform: scale(0.9);
  }
  .header__genre__accordion__button:hover {
    cursor: pointer;
  }
  .header__genre__accordion:hover {
    cursor: pointer;
  }
  .header__genre__list {
    display: none;
  }
  .header__genre__list.is-active {
    text-align: center;
    width: 300px;
    border: solid 1px rgba(255, 255, 255, 0.201);
    border-top: solid 3px #bfbfbf;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
  }
}
/* ---------- header ---------- Mobile */
@media only screen and (max-width: 540px) {
  .header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .header__logo {
    width: 50%;
  }
  .header__genre {
    width: 50%;
  }
  .header__genre__accordion {
    display: flex;
    justify-content: flex-end;
  }
  .header__search {
    width: 100%;
  }
  .header__genre {
    position: relative;
  }
  .header__genre__list.is-active {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
  }
  .header__item {
    font-size: 0.9rem;
    margin: 0;
  }
}
/* ---------- home-main ---------- PC */
.home-main__top-movie {
  position: relative;
}
.home-main__top-movie__title {
  font-size: 5vw;
  background-color: transparent;
}
.home-main__top-movie__image--poster {
  width: 100%;
}
.home-main__top-movie__image--play {
  width: 4vw;
  background-color: transparent;
}
.home-main__top-movie__image--info {
  width: 4vw;
  background-color: transparent;
}
.home-main__top-movie__text--description {
  width: 100%;
  background-color: transparent;
  font-size: 2vw;
}
.home-main__top-movie__text--play {
  background-color: transparent;
  color: black;
  font-size: 3vw;
}
.home-main__top-movie__text--info {
  background-color: transparent;
  color: #fff;
  font-size: 3vw;
}
.home-main__top-movie__container {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  text-align: center;
  justify-content: space-evenly;
  margin-left: 20px;
}
.home-main__top-movie__link {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.home-main__top-movie__link--play {
  text-decoration: none;
  background-color: #fff;
  width: 50%;
  height: 8vh;
  margin: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0 20px;
}
.home-main__top-movie__link--play:hover {
  background-color: rgba(189, 189, 189, 0.701);
}
.home-main__top-movie__link--info {
  text-decoration: none;
  background-color: rgba(106, 106, 106, 0.577);
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}
.home-main__top-movie__link--info:hover {
  background-color: rgba(48, 48, 48, 0.55);
}
.home-main__raw__title {
  font-weight: 400;
  margin-top: 35px;
}
.home-main__raw--popular {
  width: 100%;
  display: flex;
  overflow: scroll;
  align-items: center;
}
.home-main__raw--trending {
  width: 100%;
  display: flex;
  overflow: scroll;
  align-items: center;
}
.home-main__raw__item {
  margin-right: 10px;
  width: 100%;
  transition: 0.2s;
}
.home-main__raw__item__img {
  width: 25vw;
  border-radius: 5px;
}
.home-main__raw__item__desc {
  display: none;
}

/* ---------- header ---------- tablet */
@media only screen and (max-width: 1023px) {
  .window {
    padding: 0 20px;
  }
}
/* ---------- header ---------- Mobile */
/* top-main */
/*# sourceMappingURL=style.css.map */