@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* common */
* {
    box-sizing: border-box;
}

body {
    background-color: #22254b;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

/* header */
header {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    color: #000;
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.4));
}

.search {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 50px;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: 0.3s;
}

.search::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.search:focus {
    background-color: #000;
    outline: none;
}

/* main */
main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #fff;
    padding-top: 30px;
}

.movie {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;
}

a {
    text-decoration: none;
}

.movie img {
    width: 100%;
    transition: 0.4s;
}

.movie img:hover {
    transform:scale(1.2,1.2);
}

.movie-info {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #000;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}
.movie-info span.green {
    color: rgb(39, 189, 39);
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: rgb(189, 42, 42);
}
