@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import "./_variables";

/* ---------- common ---------- */
* {
    box-sizing: border-box;
    font-family: "Poppins";
    margin: 0;
    background-color: black;
    color: #fff;
}

ul {
    list-style: none;
}

/* ---------- window ---------- */
.window {
    padding: 20px;
    height: 100vh;
}

/* ---------- header ---------- */
.header {
    display: flex;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    align-items: center;
    &__logo {
        text-decoration: none;
        &__subtitle {
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
    &__accordion {
        display: none;
    }
    &__genre {
        display: flex;
        padding: 0;
    }
    &__item {
        line-height: 80px;
        margin-right: 20px;
        &__link {
            text-decoration: none;
            color: $header-item-link-color;
            transition: 0.2s;
            &.active {
                color: $header-item-link-active-color;
            }
            &:hover {
                color: $header-item-link-hover-color;
            }
        }
    }
    &__search {
        width: 250px;
        height: 30px;
        border: solid 2px $header-search-border-color;
        border-radius: 50px;
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        &__input {
            width: 100%;
            border: none;
            border-radius: 50px;
            outline: none;
        }
        &__button {
            border: none;
            border-radius: 50px;
            &__img {
                height: 100%;
                padding: 3px;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .header {
        display: block;
        &__accordion {
            display: block;
        }
        &__genre {
            display: none;
        }
    }
}