$logo-color: rgb(205, 45, 45);
$header-item-link-color: rgba(255, 255, 255, 0.639);
$header-item-link-hover-color: rgba(189, 188, 188, 0.639);
$header-item-link-active-color: #fff;
$header-search-border-color: rgba(255, 255, 255, 0.639);
$genre-border-color: rgb(191, 191, 191);

/* top-main */
$top-main-play-background-hover-color: rgba(189, 189, 189, 0.701); 
$top-main-info-background-color: rgba(106, 106, 106, 0.577);
$top-main-info-background-hover-color: rgba(48, 48, 48, 0.55); 